
@model SportsStore.WebUI.Models.ProductViewListModel

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

@foreach(var p in Model.Products) 
{ 
    <div>
        <h3>Name = @p.Name</h3>
        <h3>Brand = @p.Brand</h3>
        <h3>Description = @p.Description</h3>
        <h3>Category = @p.Category</h3>
        <h3>Price = @p.Price</h3>
        <h1>====================</h1>
    </div>
    <div>
        @Html.PageLinks(Model.pageInfo, x => Url.Action("List", new { page = x}))
    </div>
}